In [78]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [95]:
col_names = ["age", "workclass", "fnlwgt", "education", "edu_num", "martial_status", "occupation", "relationship", "race", "gender", 
            "cap_gain", "cap_loss", "hrs_per_week", "country", "salary"]
df = pd.read_csv("adult.csv", names = col_names)
df.head()

,age,workclass,fnlwgt,education,edu_num,martial_status,occupation,relationship,race,gender,cap_gain,cap_loss,hrs_per_week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [96]:
categorical = [i for i in df.columns if df[i].dtype == 'O']
numerical = [i for i in df.columns if df[i].dtype != 'O']

In [97]:
for i in categorical:
    
    print(i+":")
    print(df[i].value_counts())

workclass:
 Private             22696
 Self-emp-not-inc     2541
 Local-gov            2093
 ?                    1836
 State-gov            1298
 Self-emp-inc         1116
 Federal-gov           960
 Without-pay            14
 Never-worked            7
Name: workclass, dtype: int64
education:
 HS-grad         10501
 Some-college     7291
 Bachelors        5355
 Masters          1723
 Assoc-voc        1382
 11th             1175
 Assoc-acdm       1067
 10th              933
 7th-8th           646
 Prof-school       576
 9th               514
 12th              433
 Doctorate         413
 5th-6th           333
 1st-4th           168
 Preschool          51
Name: education, dtype: int64
martial_status:
 Married-civ-spouse       14976
 Never-married            10683
 Divorced                  4443
 Separated                 1025
 Widowed                    993
 Married-spouse-absent      418
 Married-AF-spouse           23
Name: martial_status, dtype: int64
occupation:
 Prof-specialty       4140
 Craft-repair         4099
 Exec-managerial      4066
 Adm-clerical         3770
 Sales                3650
 Other-service        3295
 Machine-op-inspct    2002
 ?                    1843
 Transport-moving     1597
 Handlers-cleaners    1370
 Farming-fishing       994
 Tech-support          928
 Protective-serv       649
 Priv-house-serv       149
 Armed-Forces            9
Name: occupation, dtype: int64
relationship:
 Husband           13193
 Not-in-family      8305
 Own-child          5068
 Unmarried          3446
 Wife               1568
 Other-relative      981
Name: relationship, dtype: int64
race:
 White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
Name: race, dtype: int64
gender:
 Male      21790
 Female    10771
Name: gender, dtype: int64
country:
 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 France                           29
 Greece                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Cambodia                         19
 Trinadad&Tobago                  19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Hungary                          13
 Honduras                         13
 Scotland                         12
 Holand-Netherlands                1
Name: country, dtype: int64
salary:
 <=50K    24720
 >50K      7841
Name: salary, dtype: int64

In [98]:
df["workclass"].replace(" ?", df["workclass"].mode()[0], inplace = True)
df["occupation"].replace(" ?", df["occupation"].mode()[0], inplace = True)
df["country"].replace(" ?", df["country"].mode()[0], inplace = True)

In [99]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
edu_num           0
martial_status    0
occupation        0
relationship      0
race              0
gender            0
cap_gain          0
cap_loss          0
hrs_per_week      0
country           0
salary            0
dtype: int64

In [100]:
data = [df]
for dataset in data:
    dataset.loc[dataset['country'] != ' United-States', 'country'] = 'Not_US'
    dataset.loc[dataset['country'] == ' United-States', 'country'] = 'US'

In [101]:
x = df.drop("salary", axis=1)
y = df["salary"]

In [102]:
import category_encoders as ce

In [103]:
encoder = ce.OneHotEncoder(cols=['workclass', 'education', 'martial_status', 'occupation', 'relationship', 
                                 'race', 'gender', 'country'])
df = encoder.fit_transform(df)

In [104]:
# for i in numerical:
#     iqr = df[i].quantile(0.75) - df[i].quantile(0.25)
#     low = df[i].quantile(0.25) - (iqr * 1.5)
#     high = df[i].quantile(0.75) + (iqr * 1.5)
#     df[i] = np.where(df[i] > high, high, df[i])
#     df[i] = np.where(df[i] < low, low, df[i])

In [105]:
x = df.drop("salary", axis=1)
y = df["salary"]

In [121]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state = 2)

In [122]:
from sklearn.preprocessing import RobustScaler
scalar = RobustScaler()

xtrain = scalar.fit_transform(xtrain)
xtest = scalar.transform(xtest)

In [123]:
from sklearn.naive_bayes import GaussianNB


# instantiate the model
gnb = GaussianNB()


# fit the model
gnb.fit(xtrain, ytrain)

GaussianNB(priors=None, var_smoothing=1e-09)

In [124]:
y_pred = gnb.predict(xtest)

y_pred

array([' <=50K', ' <=50K', ' >50K', ..., ' >50K', ' <=50K', ' <=50K'],
      dtype='<U6')

In [125]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(ytest, y_pred)))

Model accuracy score: 0.7986