In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [125]:
df = pd.read_csv("naivebayes.csv")
df.head()

  Chills runny nose head ache fever Flu
0      Y          N      Mild     Y   N
1      Y          Y        No     N   Y
2      Y          N    Strong     Y   Y
3      N          Y      Mild     Y   Y
4      N          N        No     N   N

In [126]:
df.isnull().sum()

Chills        0
runny nose    0
head ache     0
fever         0
Flu           0
dtype: int64

In [127]:
col = ["Chills", "runny nose", "fever", "Flu"]
for i in col:
    
    df[i] = df[i].map({"Y":1, "N":0})

In [128]:
df.head()

   Chills  runny nose head ache  fever  Flu
0       1           0      Mild      1    0
1       1           1        No      0    1
2       1           0    Strong      1    1
3       0           1      Mild      1    1
4       0           0        No      0    0

In [129]:
import category_encoders as ce
encoder = ce.OneHotEncoder(cols=["head ache"])
df = encoder.fit_transform(df)

In [130]:
df.head()

   Chills  runny nose  head ache_1  head ache_2  head ache_3  fever  Flu
0       1           0            1            0            0      1    0
1       1           1            0            1            0      0    1
2       1           0            0            0            1      1    1
3       0           1            1            0            0      1    1
4       0           0            0            1            0      0    0

In [131]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
for i in ["Chills", "runny nose", "fever"]:
    df[i] = le.fit_transform(df[i])

In [132]:
df.head(50)

   Chills  runny nose  head ache_1  head ache_2  head ache_3  fever  Flu
0       1           0            1            0            0      1    0
1       1           1            0            1            0      0    1
2       1           0            0            0            1      1    1
3       0           1            1            0            0      1    1
4       0           0            0            1            0      0    0
5       0           1            0            0            1      1    1
6       0           1            0            0            1      0    0
7       1           1            1            0            0      1    1

In [133]:
x = df.drop(["fever"], axis=1)
y = df["fever"]

In [134]:
from sklearn.model_selection import train_test_split

xtrain, xtest, ytrain, ytest = train_test_split(x, y, random_state = 1)

In [135]:
# from sklearn.preprocessing import RobustScaler
# scalar = RobustScaler()
# # 
# xtrain = scalar.fit_transform(xtrain)
# xtest = scalar.transform(xtest)

In [136]:
from sklearn.naive_bayes import BernoulliNB


# instantiate the model
gnb = BernoulliNB()


# fit the model
gnb.fit(xtrain, ytrain)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [137]:
y_pred = gnb.predict(xtest)

y_pred

array([1, 1], dtype=int64)

In [138]:
from sklearn.metrics import accuracy_score

print('Model accuracy score: {0:0.4f}'. format(accuracy_score(ytest, y_pred)))

Model accuracy score: 1.0000